<h1>Listing categorizations</h1>

<table>
  <thead>
    <tr>
        <th>Categorizable</th>
        <th>Category</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @categorizations) do |categorization| %>
        <td><%= categorization.categorizable %></td>
        <td><%= categorization.category %></td>
        <td><%= link_to 'Show', categorization %></td>
      <td><%= link_to 'Edit', edit_categorization_path(categorization) %></td>
      <td><%= link_to 'Destroy', categorization, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Categorization', new_categorization_path %>
