<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
        <th>Name</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @categories) do |category| %>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
      <td><%= link_to 'Edit', edit_category_path(category) %></td>
      <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
